.form{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
    margin: 40px auto;
    padding: 30px;
    background-color: white;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    border-radius: 8px;
    gap: 12px;
}

.form input,.form button{
    padding: 12px;
    font-size: 16px;
}

.form button {
  background-color: #28a745;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}


.form button:hover{
    background-color: #218838;
}