.job-card{
    background-color: #f8f9fa;
    padding: 20px;
    margin: 15px auto;
    border-left: 5px solid #007bff;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    border-radius: 6px;
    max-width: 1000px;
}

.job-card h4{
    margin: 0;
    color:#222;
}

.job-card p{
    margin: 6px 0;
    color: #555;
}